@using MovieTheater.ViewModels
@using MovieTheater.Data.Enums
@model EditMovieViewModel

<div>
	<form method="post" asp-controller="Movies" asp-action="Create" enctype="multipart/form-data">
		<div class="mb-3">
			<label class="form-label">Movie Name</label>
			<input asp-for="Name" type="text" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">Movie Description</label>
			<textarea asp-for="Description" class="form-control" wrap="hard" style="height:200px"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label class="form-label">Movie Genres:</label><br />
			@{
				foreach (var checkbox in @Html.GetEnumSelectList<Genre>())
				{
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="@checkbox.Text" name="CheckedMovieGenres" id="checkbox_@checkbox.Text"/>
						<label class="form-labl" for="checkbox_@checkbox.Text" style="border-radius: 25px; margin-right: 15px;">@checkbox.Text</label>
					</div>
				}
			}
			<span asp-validation-for="MovieGenres" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">Movie Rating (IMDb): </label>
			<input asp-for="Rating" type="text" />
			<span asp-validation-for="Rating" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label for="AgeRating">Age Rating:</label>
			<select asp-for="AgeRating" asp-items="@Html.GetEnumSelectList<AgeRating>()" >
				<option>--Select--</option>
			</select>
			<span asp-validation-for="AgeRating" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">Movie Duration</label>
			<input asp-for="Duration" type="time" />
			<span asp-validation-for="Duration" class="text-danger"></span>
		</div>
		<div>
			<button type="submit" class="btn btn-primary">Create</button>
		</div>
	</form>
</div>