@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a> Realiai čia bet ką galiu parašyti ir man parodys tai programoje, OMG</a>.</p>
</div>
