@model Cinema
 @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <section class="py-6 text-center container">
        <div class="row py-lg-8">
            <div class="col-lg-6 col-xl-12 mx-auto">
                <h1 class="fw-dark">@Model.Name</h1>
                <p class="lead text-lg-center">Most popular movie theater company based in Lithuania. With multiple locations throughout the country, we offer a wide selection of the latest films and blockbusters to enjoy.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>
</body>
</html>
